.meta,
.carousel {
    margin-bottom: 40px;
}

#mapitas {
    margin-top: 40px;
}

.carousel {
    margin-bottom: 20px;
}

.mod-date {
    font-size: 90%;
    font-style: italic;
    margin-top: 20px;
}